# CLion/InteliJ
.idea/

# VS CODE
.vs/

# VS Studio
*.dir
Win32
*.vcxproj
*.vcxproj.filters
*.sln
Debug

# CMake dirs
cmake-build-debug/
CMakeFiles/

# CMake files
CMakeCache.txt
cmake-build-debug
cmake_install.cmake

# Various files
Makefile
*.cbp
